@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
body {
  background: url(../img/background.jpg) no-repeat;
  background-size: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
header {
  padding: 30px 0;
}
.menu {
  text-align: right;
  margin-top: 30px;
}
.menu nav ul li {
  display: inline;
  font-family: "Montserrat", sans-serif;
}
.menu nav ul li a {
  font-weight: bold;
  color: #000000;
  padding: 10px;
}
.container-404 {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 5% 9% !important;
  padding: 110px 0;
}
.container-404 h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16.66rem;
}
.container-404 p {
  color: #ffffff;
  font-size: 3rem;
  padding: 0 20%;
  display: block;
}
.btn {
  display: block;
  background: #e03820;
  margin: 40px 38%;
  padding: 12px;
  border-radius: 10px;
}
.btn p {
  font-size: 1.8rem;
  font-weight: bold;
}
